@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100vw;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

header {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

#home-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  row-gap: 20px;
  padding: 40px;
}

#home-section img {
  width: 90%;
  height: auto;
}

li {
  list-style-type: none;
}

h1,
h2 {
  text-align: center;
}

nav:first-child {
  color: #4756df;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  font-weight: bold;
  height: 80px;
  background-color: white;
  position: sticky;
  padding: 0 7% 0 7%;
  top: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}

#about {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.about_section {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20%;
}

.about_section img {
  width: 80%;
  height: auto;
}

a {
  text-decoration: none;
  color: #4756df;
}

a:hover {
  text-decoration: underline red;
  text-decoration-thickness: 1px;
  color: red;
}

#skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 40px;
  row-gap: 20px;
}

#skills div {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px 15px;
}

#skills img {
  width: 30%;
  height: auto;
  border: 30px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.project-listing {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.project-element {
  width: 30%;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  padding: 20px;
}

.paragraph {
  width: 80%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  box-shadow: 0 0 0 transparent;
}

.project-listing img {
  width: 90%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.project-listing ul {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

footer {
  width: 100%;
}

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 40px;
  row-gap: 20px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background-color: white;
  border: 2px solid white;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  border-radius: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

input {
  font-size: 1.1rem;
  height: 40px;
}

input,
textarea {
  border: 0;
}

input[type="submit"] {
  font-weight: bold;
  background-color: white;
}

input[type="submit"]:hover {
  background-color: #4756df;
}

input,
textarea {
  outline: 2px solid #4756df;
  border-radius: 5px;
}

label {
  color: #4756df;
  font-weight: bold;
}

#social-icons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 10px;
}

#social-icons img {
  width: 32px;
  height: auto;
}

#attribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 20px;
}

.about_link {
  margin-left: auto;
}
